<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="../../../assets/css/login_page.css">
  <link rel="stylesheet" href="../../../assets/css/theme.css">
</head>

<body class="login">
  <div class="container-fluid" style="	background-image: url(../../../assets/img/background.png);	background-position: center;">
    <div class="row justify-content-md-center w-100 h-100">
      <div class="form">
        <form class="login-form">
          <h1>Baso Najwa</h1>
          <div class="username">
            <input type="text" name="username" placeholder="Username">
          </div>
          <div class="password">
            <input type="password" name="password" placeholder="Password">
          </div>
          <button type="submit" name="submit">Login</button>
        </form>
      </div> &lt;
    </div>
  </div>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>